@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Concert+One&display=swap');




/**------- CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; /*Para quitar las letras subrayadas*/
}

/*------------- Lo utilizo para definir los colores ------*/
:root {
  --white_color: #edf6f9;
  --white_color2: #ffffff;
  --pink_color: #e2b3c5;
  --pink_color2: #e0a2bb;
  --blue_color: #84cee3;
  --purple_color: #7e7eaf;
  --purple_color2: #ab83ba;
  --darkBlue_color: #319aca;
  --darkBlue_color2: #3a80d1;
  --darkBlue_color3: #478ddd;
  --darkBlue_color4: #627288;
  --yellow_color: #efda86;
  --yellow_color2: #fce688;
  --green_color: #5bc8ac;
  --sombra: linear-gradient (90deg, #e2b3c5 80%, #ffffff 50%);
}


/**-------------- IMAGEN DE FONDO -------*/
.contenedor {
  width:100%;
  height: 480px;
  position: relative;
}

.imagenFondo {
  display: block;
  background-color: #3a80d1;
  max-height: 350px;
}
.imagenFondo img {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  position: relative;
  max-height: 350px;
}

/**-------------- TITULO PRINCIPAL -------*/
.titulo {
  font-size: 25px;
  text-align: right;
  padding: 25px;
  /* padding-top: 10px; */
  z-index: 3;
  position: relative;
  color: var(--white_color2);
  text-shadow: 3px 0px 3px var(--darkBlue_color2);
  top: -100px;
  font-family: 'Titan One', cursive;
}



/**---------- MENÚ PRINCIPAL -----*/
/*---------- Alineación del contenedor del menú principal ------*/

.contenedor-menu {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-shadow: 0 3px 4px 0 var(--purple_color2);
  position: fixed; /*No se crea ningun espoacio para el elemento*/
  top: 0;
  background-color: var(--pink_color2);
  z-index: 5;

}

.contenedor-menu a:hover {
  color: var(--purple_color);
}

a {
  color: var(--white_color2);
  /* background-color: var(--pink_color); */
  /* box-shadow: 0px 2px 2px 0 var(--darkBlue_color4); */
  /* border-radius: 5px; */
  font-size: 18px;
  padding: 3px 15px;
  align-items: right;
  justify-content: center;
  font-family: 'Titan One', cursive;
  float: right;
}

/**------------- CONTENEDOR DEL BOTÓN MENU ------------*/
.contenedor-menu .boton-menu i {
  color: var(--white_color2);
  font-size: 30px;
  padding-bottom: 5px;
  cursor: pointer;
  top: 8px;
  position: absolute;
}

.contenedor-menu .boton-menu {
  width: 20px; /*Ancho del contenedor*/
  height: 20px; /*Alto del contenedor*/
  background-color: var(--pink_color2);
  border: none;
  top: 2px;
  position: absolute;
}

.contenedor-menu .boton-menu i:hover {
  color: var(--purple_color);
}

/**------------- LINEA / DIVISIÓN ------------*/
hr {
  height: 10px;
  background-color: var(--pink_color2);
  position: relative;
  top: -60px;
  z-index: 2;
  border: none;
  display: block;
}


/**------------------- CONTENEDOR DEL BOTÓN FLECHA --------------*/

.contenedor-btn .btn-abrir-intro {
  width: 50px; /*Ancho del contenedor*/
  height: 50px; /*Alto del contenedor*/
  font-size: 20px; /*Tamaño de fuente*/
  line-height: 20px; /*Altura de linea*/
  background: var(--blue_color); /*Color azul (inicial)*/
  position: relative; /*Lo utilizo para poder desplazar mi botón*/
  top: -30px; /*Para subir mi boton*/
  z-index: 3; /*El orden de la capa para que quede arriba*/
  border-radius: 100%; /*Borde de la caja*/
  box-shadow: 0 4px 8px var(--darkBlue_color2); /*Sombra de la caja*/
  padding: 5px;
  transition: all 0.2s ease;
  border: none; /*Quitarle el borde que agrega por defecto*/
  cursor: pointer; /*Cursor para que aparezca una mano*/
  transform: rotate(180deg); /*Para que rote y quede mirando hacia arriba*/
}

.contenedor-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;

}

/**----------- ESTILO ICONO FLECHA ----------*/
.contenedor-btn i {
  color: var(--white_color2); /*Color de texto blanco (icono)*/
  font-size: 30px;
}

/*------ :hover (para que aparezca rosa al acercar el puntero) -----*/
.contenedor-btn .btn-abrir-intro:hover {
  background: var(--pink_color);
}

/*------ .active (cuando tenga la clase active rote 45grados) ---*/
.contenedor-btn .btn-abrir-intro.active {
  transform: rotate(360deg);
}



/**--------------- CONTENEDOR DEL INTRO ---------*/
.intro {
  font-family: 'Concert One', cursive;
  color: var(--darkBlue_color);
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  position: relative;
  top: -45px;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  /* border: 5px solid var(--pink_color2);
  background-color: var(--sombra); */
  background: linear-gradient(#ffffff 40%, #e2b3c5);
  transition: clip-path 0.3s ease-out;
  position: relative;
}

.intro.active {
  clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0); /*Esquina Izq Sup (cordenada 0 0 (de izq a der y de arriba hacia abajo)) - 100% hacia la cord.derecha y 0 de arriba a abajo - 100% hacia la der y 0 que vaya hacia abajo - nuevamente 0 0 */
}


/**------------------- PORTADAS PELICULAS ---------------*/

.contenedor-pelis {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 30px 30px;
}


.peliculas {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portada img {   /*div del main js*/
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0 0;
}

/*------------- Hover Portadas --------------*/
.portada:hover {
  /* flex:6;
  clip: circle(180% at center);
  transition: clip-path .4s .5s; */
  background: var(--pink_color);
  z-index: 4;
  opacity: 0.8;
  transform: scale(0.9)
}


.portada {   /*div del main js*/
  border-radius: 10px;
  width: 220px;
  height: 400px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 15px;
  color: var(--darkBlue_color);
  background: linear-gradient(#ffffff 80%, #c3d8f0);
  /* box-shadow: var(--sombra);
  overflow: hidden; Ocultar un poco el texto de la descripcion mientras arreglamos el resto */
  /*clip:circle(0 at center);
  transition: clip-path .2s;*/
  cursor: pointer;
}

div .textos_portada {
  /* font-family: 'Fredoka One', cursiva; */
  font-family: 'Concert One', cursive;
  font-size: 12px;
  text-align: center;
  padding: 10px 14px;
}

/* .portada {   /*div del main js
  width: 300px;
  height: 400px;
  margin-bottom: 15px;
  overflow: hidden; /*Ocultar un poco el texto de la descripcion mientras arreglamos el resto
  background-color: var(--pink_color);
  color: var(--white_color2);
  text-transform: uppercase;
} */
