@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Concert+One&display=swap');




/**------- CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Para quitar las letras subrayadas*/
}

/*------------- Lo utilizo para definir los colores ------*/
:root {
    --white_color: #edf6f9;
    --white_color2: #ffffff;
    --pink_color: #e2b3c5;
    --pink_color2: #e0a2bb;
    --blue_color: #84cee3;
    --purple_color: #7e7eaf;
    --purple_color2: #ab83ba;
    --darkBlue_color: #319aca;
    --darkBlue_color2: #3a80d1;
    --darkBlue_color3: #478ddd;
    --darkBlue_color4: #627288;
    --yellow_color: #efda86;
    --yellow_color2: #fce688;
    --green_color: #5bc8ac;
    --sombra: linear-gradient (90deg, #e2b3c5 80%, #ffffff 50%);
}

/* -------MENU HORIZONTAL - MENU ESCRITORIO-------- */
.menu {
    background-color: #7e7eaf;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1880px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    /* custom property para ocultar el item */
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    /* mostrar el item */
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: #e0a2bb;
}

.menu_flecha {
    transform: var(--transform);
    transition: .3s;
    display: block;
}

/* ----- SUBMENUS VISTA ESCRITORIO ------ */

.sub__menu {
    list-style: none;
    clip-path: var(--clip);
    /* custom property para se declara variable para usar la custom property */
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #7e7eaf;
}

.menu__link--inside {
    padding: 3px 50px 10px 3px;
}

/* ELEMENTOS RESPONSIVOS */

.icon_img {
    display: none;
}

#icon__label {
    display: none;
}

#menu__movil {
    display: none;
}

/* RESPONSIVE : VISTA DINAMICA PARA OTROS DISPOSITIVOS */

@media (max-width: 800px) {

    .menu {
        height: 30px;
    }

    .menu__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1880px;
        height: 100%;
        margin: 0 auto;
    }

    .menu__links {
        background-color: #7e7eaf;
        display: grid;
        grid-auto-rows: max-content;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 29px;
        bottom: 0;
        height: 100%;
        visibility: hidden
    }

    .menu__link {
        padding: 15px 15px;
        padding-left: 10px;
        display: flex;
        height: auto;
    }

    .sub__menu {
        display: grid;
        right: 130px;
        bottom: 23px;
    }

    #icon__label {
        display: block;
    }

    .icon_img {
        display: flex;
    }

    /* Se utiliza el elemento ul el cual contiene el menu principal */

    #menu__movil:checked~ul {
        visibility: visible;
    }
}

/* INTRODUCION */
.img__fondo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0%;
}

/* Formato CSS a la introducción */
.intro__text {
    /* ancho de la pagina */
    max-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #E0A2BB;
    color: #ffffff;
}

.label__flecha,
.contenido__intro {
    padding: 14px 20px;
    text-align: center;
}

.label__flecha {
    display: block;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.label__flecha:hover {
    background: #ab83ba;
}

.label__flecha::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    background-size: contain;
    transition: 0.4s;
    text-align: center;
}

.contenido__intro {
    background-color: #ffffff;
    color: #3a80d1;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.icon_flecha1 {
    display: none;
}

.icon_flecha {
    color: #ffffff;
}

.icon_flecha1:checked~.contenido__intro {
    display: block;
}

.icon_flecha1:checked~.label__flecha {
    transform: translateY(-10%) rotate(0.5turn);
}


/* p{
    font-size: 25px;
    text-align:right;
    padding: 40px;
    z-index: 3;
    position: relative;
    color: var(--yellow_color2);
    text-shadow: 3px 0px 3px var(--darkBlue_color4);
    top: -300px;
    font-family: 'Titan One', cursive;
} */


/**------------------- PORTADAS PELICULAS ---------------*/

.contenedor-pelis {
    width: 100%;
    max-width: 1300px;
    z-index: 4;
    margin: auto;
    padding-top: 30px;
    position: relative;
}


.tarjetas {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portada img {
    /*div del main JavaScript*/
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;

}

.portada {
    /*div del main JavaScript*/
    border-radius: 10px;
    width: 280px;
    height: 460px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--darkBlue_color2);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    box-shadow: 0px 0px 10px var(--darkBlue_color4);
    /*overflow: hidden; Ocultar un poco el texto de la descripcion mientras arreglamos el resto */
    cursor: pointer;
    z-index: 4;
}

div .textos_portada h2 {
    /*------Titulo y el año--------*/
    /* font-family: 'Fredoka One', cursiva; */
    font-family: 'Concert One', cursive;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px 3px;
}

div .textos_portada p {
    /*------Titulo y el año--------*/
    /* font-family: 'Fredoka One', cursiva; */
    font-family: 'Concert One', cursive;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;
}




/*---------- MODAL - TARJETAS PELICULAS ---------------*/
div .boton_modal {

    justify-content: center;
    display: flex;
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    background-color: var(--white_color2);
    border: 1px solid var(--white_color2);
    border-radius: 10px;
    display: inline-block;
    margin-left: 120px;
    box-shadow: 0px 0px 8px var(--purple_color);
}

div .boton_modal a {
    font-family: 'Concert One', cursive;
    font-size: 20px;
    color: var(--pink_color2);
    padding: 2px 15px;
}

/*------------- Hover Modal --------------*/
.boton_modal:hover {
    background-color: var(--darkBlue_color3);
    /* opacity: 0.8; */
    transform: scale(1.1);
    /* transform: translateY(-3%); */
}

.boton_modal:hover a {
    color: var(--white_color2);
}

/**------------------- FIN PORTADAS PELICULAS ---------------*/


footer {
    background-color: #E0A2BB;
    color: white;
    border-color: #319aca;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}